.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .loading__container {
    width: 100px;
    height: 100px;
    border: 1px solid var(--main-bg-dark);
    border-radius: 50px;
    border-bottom: 1px solid transparent;
    transform: 1s;
    animation: loading 0.5s linear infinite;
  }
  
  .loading__container.white {
    border: 1px solid var(--main-bg-light);
  }
  
  .product__image {
    width: 50px;
  }
  
  .display-none {
    display: none;
  }
  @keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .alert {
    padding: 1rem;
    border-radius: 5px;
  }
  
  .alert-danger {
    color: #f2f6fa;
    background-color: var(--main-color-red);
  }
  
  .flex {
    display: flex;
    align-items: center;
    gap: 30px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  .check__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .ball {
    height: 30px;
    width: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
  }
  
  .check {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    left: 5px;
    transition: 0.3s;
  }
  
  .check-left {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    transform: translateX(20px);
    /* right: 5px; */
    transition: 0.3s;
  }
  
  .products {
    margin-top: 20px;
  }
  
  .products table th {
    font-size: 1.4rem;
  }
  
  .products table td {
    padding: 0;
  }
  
  textarea {
    width: 100%;
    resize: none;
    padding: 1rem;
  }
  
  .notes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .total {
    font-size: 30px;
    color: var(--main-color);
  }
  
  .btn {
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: .5rem;
    color: #f2f6fa;
    font-size: 1.6rem;
  }
  
  .table__container {
  }
  
  .table-header {
    background-color: var(--main-bg-dark);
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .mini-title {
  }
  
  .mini-data {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.4rem;
  }
  
  .data-array {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 40px;
  }
  
  .data-array .title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .data-array .title h2 {
    padding: 2rem;
    font-size: 1.6rem;
  }
  
  .data-array .content {
    padding: 2rem;
  }
  
  .data-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  
  .max-width {
    width: 300px;
    max-width: 300px;
  }
  
  .data-footer h2 {
    margin-right: 10px;
  }
  .start {
    align-items: flex-start;
  }
  
  .rigth {
    /* text-align: right; */
  }
  
  .mt-2 {
    margin-top: 20px;
  }
  
  .note {
    text-align: justify;
  }
  
  .data-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  
  .data-options button {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    height: 35px;
    background-color: var(--main-bg-dark);
    border-radius: 0 0 5px 5px;
    color: #f2f6fa;
    transition: 1s;
  }
  
  .data-options button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .data-email {
    padding: 1rem;
  }
  
  .data-email select {
    width: 100%;
    outline: none;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #f2f6fa;
    border-radius: 5px;
  }
  
  .data-email button {
    margin-top: 10px;
    padding: 1rem;
    font-size: 1.6rem;
  }
  
  .flex-center {
    justify-content: center;
    align-items: flex-start;
  }
  
  .max-wid {
    margin: 0 auto;
    width: 600px;
  }
  
  .table-row {
    border-bottom: rgba(255, 255, 255, 0.5);
  }
  
  .navigation__item.active {
    color: var(--main-color);
  }
  
  .form-group-icon {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    margin-bottom: 2rem;
  }
  
  .form-group {
    padding: 0.8rem;
  }
  
  .form-group.wid {
    max-width: 300px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    color: #f2f6fa;
    margin-bottom: 2rem;
    margin-right: 20px;
  }
  
  .form-group.wid select {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #f2f6fa;
  }
  
  .form-group .form-control {
  }
  .form-group-icon i {
    margin-right: 10px;
    font-size: 2.5rem;
  }
  
  .form-group-icon .form-control {
    border: none;
    font-size: 1.6rem;
    /* color: transparent; */
  }
  
  .form-control {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    color: #f2f6fa;
  }
  
  select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: var(--main-bg-dark);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  .clean__body-header {
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
  }
  
  .notes {
    padding: 20px;
  }
  
  .notes label {
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  
  .p-20 {
    padding: 0 20px;
  }
  
  .computer {
    padding: 20px;
  }
  
  .pft {
    position: absolute;
    left: -1000000;
    top: -1000000000;
    z-index: -1000;
  }
  
  .App {
    z-index: 10;
  }


  .home__title{
    font-weight: 500;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .home__subtitle{
    font-size: 1.4rem;
  }

  .card{
    background: var(--second-bg-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 2rem;
    height: 84vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  .list__users{
    /* background-color: var(--second-bg-dark); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 2rem;
    max-width: 400px;
  }

  .item__user{
    background-color: var(--second-bg-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 70px;
    border-radius: .5rem;
    padding: 1rem;
    max-width: 300px;
  }

  .section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  .section__header > div{
    display: flex;
    gap: 2rem;
  }

  .section__header select, .btn-none{
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--second-bg-dark);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    color: #f2f6fa;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
  }

  .card__header{
    padding-bottom: 2rem;
  }

  
.card__header .input{
  background-color: transparent;
  color: #f2f6fa;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: .5rem;
}

.container__home{
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  justify-content: space-between;
}

footer{
  color: #f2f6fa;
  position: absolute;
  bottom: 10px;
  left: 210px;
  font-size: 1.2rem;
  transition: .5s;
}

.footer__active{
  left: 50px;
  transition: .5s;

}


.rta__textarea{
  color: #f2f6fa !important;
} 

.str-chat__textarea__textarea{
  color: #f2f6fa !important;
}

.list-users{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: scroll;
  height: 100vh; 
  padding-bottom: 15rem;
}

.item__user{
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
  position: relative;
  cursor: pointer;
}

.item__user .img{
  width: 40px;
  overflow: hidden;
  border-radius: 5rem;
  object-fit: cover;
  height: 40px;
}
.item__user img{
  max-width: 100%;
  width: 100%;
}

.item__user h2{
  font-size: 1.4rem;
}

.item__user p{
  font-size: 1.2rem;
}

.item__user span{
  position: absolute;
  right: 20px;
  font-weight: 600;
  font-size: 1.6rem;
}

.data-card{
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 100px;
}

.data-card i{
  font-size: 4rem;
}

.data-card span{
  display: flex;
  flex-direction: column;
}

.data-card p{
  font-size: 1.4rem;
}

.note-item{
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:1rem;
  transition: .5s;
}

.note-item:first-child{
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}

.note-item h2{
  font-size: 1.4rem;
}
.note-item span{
  font-size: 1.2rem;
}

.note__sidebar{
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: -1.4rem;
  overflow: scroll;

}


.note-item:hover{
  background-color: rgba(255, 255, 255, 0.05);
}


.notes-length{
  padding: 0 1rem;
}

.form-group-post{
  width: 100%;
}

.form-group-post input{
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #f2f6fa;
}

.form-group-post select{
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  color: #f2f6fa;
}

.rdw-editor-main{
  height: 100vh;
}

.mr-2{
  margin-right: 20px;
}

.list-over{
  position: relative;
  overflow: scroll;
}


.status-active{
  position: relative;
  display: block;

  background-color: green;
  min-height: 20px;
  min-width: 50px;
  cursor: pointer;
  border-radius: .5rem;

}


.status-inactive{
  position: relative;
  display: block;
  background-color: red;
  min-height: 20px;
  min-width: 50px;
  border-radius: .5rem;
  cursor: pointer;
  padding: .5rem;
  text-align: center;
}

.form-group input::placeholder{
  
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
}


select.form-control{
  border: none;
  height: 10px;
}


.form-control{
  height: 20px !important;
  overflow: hidden;
}

textarea.form-control{
  height: 200px Im !important;
}

.pb-50{
  padding-bottom: 12rem;
}

.division{
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.division table{
  width: 50%;
}

.form-control-text{
  background-color: transparent;
  color: #f2f6fa;
}

.form-post{
  overflow: scroll !important;
}

.rdw-editor-main{
  overflow-x: scroll !important;
}

.screen{
  overflow-x: scroll;
} 