.screen {
    position: fixed;
    width: calc(100% - 200px);
    left: 200px;
    transition: 0.5s;
    padding-bottom: 7.5rem;
    top: 50px;
    /* margin: 1rem; */
    padding: 0.5rem 2rem;
    /* padding:0 .5rem; */
    border-radius: 1rem;
    color: var(--txt-color-dark);
    /* overflow: hidden; */
    height: calc(100vh - 50px);
  }
  
  .screen.active {
    width: calc(100% - 35px);
    left: 35px;
    height: calc(100vh - 50px);


    /* height: calc(100% - 50px); */
    
  }
  
  .screen__title {
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 0;
  }
  
  .screen__header {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-icon {
    transition: 0.8s ease;
  }
  
  .btn-icon:hover {
    color: #f2f2f2;
  }
  
  .buttons input {
    margin-right: 1rem;
    height: 35px;
    width: 400px;
  }
  
  .buttons select {
    margin-right: 1rem;
    height: 35px;
    width: 100px;
  }


  @media screen and (max-width:500px){
     
    .screen.active {
      width: 100%;
      left: 0;
    
    
    }
    
    }

    .max-wid{
      width: 90px;
      overflow: hidden;
      height: 20px;
      font-size: 1.4rem !important;
    }

    .time-order{
      font-size: 1.2rem !important;
    }

    .section__header{}

    .input-list{
      width: 100%;
      padding: 1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, .3);
      color: #f2f2f2;
      outline: none;
    }

    .aside-list{
      max-width: 350px;
    }

    .form-post{
      background-color: #fff;
      min-height: 100vh;
      padding: 1.5rem;
    }


    .form-post select{
      color: #000;
      outline: none;
    }

    .form-post input::placeholder{
      color: rgba(0, 0, 0, .7);
    }
